spring:
  application:
    name: main-server

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:prod}  # 환경 변수가 없으면 prod 사용

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${OAUTH_GITHUB_CLIENT_ID}
            client-secret: ${OAUTH_GITHUB_CLIENT_SECRET}
            scope:
              - read:user
              - user:email
              - read:org
            redirect-uri: "{baseUrl}/login/oauth2/code/github"
            client-name: GitHub
        provider:
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
            user-name-attribute: login

resilience4j:
  circuitbreaker:
    instances:
      circuitbreaker_test:
        failure-rate-threshold: 60
        recordExceptions:
          - java.net.SocketTimeoutException
          - java.net.ConnectException
        ignoreExceptions:
          - java.lang.IllegalStateException

custom:
  jwt:
    duration:
      access: 3600000         # Access Token: 60분 (밀리초)
      refresh: 86400000       # Refresh Token: 24시간 (밀리초)
    secrets:
      origin-key: ${JWT_ORIGIN_KEY}
      app-key: ${JWT_APP_KEY}
  app:
    frontend-redirect-uri: ${FRONTEND_REDIRECT_URI}

server:
  port: 8080
  tomcat:
    mbeanregistry:
      enabled: true

logging:
  level:
    org.springframework.web.socket.messaging.StompSubProtocolHandler: DEBUG
    org.springframework.web.socket.server: DEBUG
    org.springframework.web.socket.sockjs: DEBUG
    org.springframework.messaging: DEBUG
