spring:
  application:
    name: chat-server

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:prod}  # 환경 변수가 없으면 prod 사용

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    mongodb:
      host: ${MONGODB_HOST}
      port: ${MONGODB_PORT}
      database: ${MONGODB_DATABASE}
      username: ${MONGODB_USERNAME}
      password: ${MONGODB_PASSWORD}
      authentication-database: ${MONGODB_AUTH_DB}

    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

custom:
  jwt:
    duration:
      access: 3600000
      refresh: 86400000
    secrets:
      origin-key: ${JWT_ORIGIN_KEY}
      app-key: ${JWT_APP_KEY}

server:
  port: 8081
  tomcat:
    mbeanregistry:
      enabled: true

logging:
  level:
    org.springframework.web.socket.messaging.StompSubProtocolHandler: DEBUG
    org.springframework.web.socket.server: DEBUG
    org.springframework.web.socket.sockjs: DEBUG
    org.springframework.messaging: DEBUG
